#Experiment No.3
### Name: Tannishtha Gupta
### PRN: 25070123049
### Batch: Entc A3
### Title: study of lists & various operations on it

In [2]:
## Python List
mytodolist = ["study", "sleep", "go out"]
print(mytodolist)

['study', 'sleep', 'go out']

In [3]:
# list length
print(len(mytodolist))

3

In [9]:
# A list with strings, integers & boolean values:

list1 = ['TG', 34, True, 40, 'female' , 3+2j]
list1

['TG', 34, True, 40, 'female', (3+2j)]

In [17]:
# to access items (list starts from the number 0)
mytodolist = ["study", "sleep", "go out"]
print(mytodolist[0])

study

In [18]:
# reverse/ negative indexing
mytodolist = ["study", "sleep", "go out"]
print(mytodolist[-1])

go out

In [20]:
# list slicing
subjects = ["Physics", "Chemistry", "Maths", "English", "Hindi", "Computer Science"]
print(subjects[1:4]) # 4 is exclusive here
print(subjects[-6:-1])# Reverse Indexing
print(subjects[:4]) # To print without the starting index
print(subjects[2:]) # To print without the ending index

['Chemistry', 'Maths', 'English']
['Physics', 'Chemistry', 'Maths', 'English', 'Hindi']
['Physics', 'Chemistry', 'Maths', 'English']
['Maths', 'English', 'Hindi', 'Computer Science']

In [23]:
# change item value
mytodolist = ["study", "sleep", "go out"]
mytodolist[1] = "eat"
mytodolist[2] = "plan a trip"
print(mytodolist)

['study', 'eat', 'plan a trip']

In [26]:
#append items (to add newly added items in the list)
mytodolist = ["study", "sleep", "go out"]
mytodolist.append("plan a trip")
mytodolist.append("eat")
print(mytodolist)

['study', 'sleep', 'go out', 'plan a trip', 'eat']

In [30]:
# insert items
mytodolist = ["study", "sleep", "go out"]
mytodolist.insert(0, "buy journals")
print(mytodolist)

['buy journals', 'study', 'sleep', 'go out']

In [32]:
# extend list
mytodolist = ["study", "sleep", "go out"]
mytodolist2 = ["plan a trip", "eat", "buy journals"]
mytodolist.extend(mytodolist2)
print(mytodolist)

['study', 'sleep', 'go out', 'plan a trip', 'eat', 'buy journals']

In [38]:
# to search items in the list
mytodolist = ["study", "sleep", "go out"]
"buy journals" in mytodolist

False

In [37]:
# to search items in the list
mytodolist = ["study", "sleep", "go out"]
"sleep" in mytodolist

True

In [43]:
# repetiion of the list
mytodolist = ["study", "sleep", "go out"]
mytodolist * 4

['study',
 'sleep',
 'go out',
 'study',
 'sleep',
 'go out',
 'study',
 'sleep',
 'go out',
 'study',
 'sleep',
 'go out']

In [45]:
# Problem Statement 1 (slicing practice)
numbers = [10, 20, 30, 40, 50]
print('printing elements from 1 to 3')
print(numbers[1:4], "\n")

print('First 3 elements')
print(numbers[:3], "\n")

print('elements from index 2 onwards:(reverse indexing)')
print(numbers[2:], "\n")

print('All elements')
print(numbers[:])

printing elements from 1 to 3
[20, 30, 40]

First 3 elements
[10, 20, 30]

elements from index 2 onwards:(reverse indexing)
[30, 40, 50]

All elements
[10, 20, 30, 40, 50]

In [52]:
# Problem statement 2
marks = [78, 85, 90, 66, 32]
print('Maximum marks')
print(max(marks))
print('minimum marks')
print(min(marks))
print('total marks')
print(sum(marks))
print("average marks")
print(sum(marks)/len(marks))

marks.sort()
print("sorted marks:", marks)

Maximum marks
90
minimum marks
32
total marks
351
average marks
70.2
sorted marks: [32, 66, 78, 85, 90]

In [58]:
# Problem Statement (3 Grocery shopping list )
grocery = ["Dal", "Oil", "Soap", "Masala", "Vegetables"]
grocery1 = ["Tooth Paste", "Tooth Brush", "Biscuits", "Detergent"]

print("added items in the list")
grocery.extend(grocery1)
print(grocery, "\n")

print("removed items from the list")
grocery.remove("Masala")
print(grocery, "\n")

print("the final shopping list")
print(grocery, "\n")

added items in the list
['Dal', 'Oil', 'Soap', 'Masala', 'Vegetables', 'Tooth Paste', 'Tooth Brush', 'Biscuits', 'Detergent']

removed items from the list
['Dal', 'Oil', 'Soap', 'Vegetables', 'Tooth Paste', 'Tooth Brush', 'Biscuits', 'Detergent']

the final shopping list
['Dal', 'Oil', 'Soap', 'Vegetables', 'Tooth Paste', 'Tooth Brush', 'Biscuits', 'Detergent']

In [59]:
# Problem statement 4
contact = ["abc", "def", "ghi", "jkl", "mno"]
contact.append("pqr")
print("The Updated List is: ", contact, "\n")
contact.remove("ghi")
print("The Removed List is: ", contact, "\n")
contact.sort()
print("The sorted List is: ", contact, "\n")

The Updated List is:  ['abc', 'def', 'ghi', 'jkl', 'mno', 'pqr']

The Removed List is:  ['abc', 'def', 'jkl', 'mno', 'pqr']

The sorted List is:  ['abc', 'def', 'jkl', 'mno', 'pqr']

In [60]:
# Problem Statement 5
temp = [ 34, 45, 38, 37, 32 , 29, 30 , 28, 31 , 30]
print("The first 5 days Temperature are: ", temp[0:5], "\n")
print("The last 5 days Temperature are: ", temp[-5:], "\n")
print("The highest Temperature: ", max(temp), "\n")
print("The lowest Temperature: ", min(temp), "\n")
print("The average Temperature: ", sum(temp)/len(temp), "\n")

The first 5 days Temperature are:  [34, 45, 38, 37, 32]

The last 5 days Temperature are:  [29, 30, 28, 31, 30]

The highest Temperature:  45

The lowest Temperature:  28

The average Temperature:  33.4