#Experiment 9
### Name: Tannishtha Gupta
### PRN: 25070123049
### Class: ENTC A3
#### Title: Tools of EDA- Study of Panda library

In [4]:
# initialization of Pandas
import pandas as pd
s = pd.Series([3, -5, 7, 4])
s

0    3
1   -5
2    7
3    4
dtype: int64

In [5]:
# Create a Dataframe

data = {
    "Name" : ["Tanmay", "Tannishtha", "Harshit", "Jayvee", "Drishti"],
    "Marks" : [95, 100, 93, 85, 84]
}
df = pd.DataFrame(data)

         Name  Marks
0      Tanmay     95
1  Tannishtha    100
2     Harshit     93
3      Jayvee     85
4     Drishti     84

In [6]:
df.head()
df.tail()

         Name  Marks
0      Tanmay     95
1  Tannishtha    100
2     Harshit     93
3      Jayvee     85
4     Drishti     84

In [7]:
''' if nothing is mentioned in the bracet then first and last five is printed
for head and tail function. Nut, the number of rows to be printed can be changed'''

df.head(2)

         Name  Marks
0      Tanmay     95
1  Tannishtha    100

In [8]:
df.tail(3)

      Name  Marks
2  Harshit     93
3   Jayvee     85
4  Drishti     84

In [9]:
# Find the structure of the dataframe
df.shape

(5, 2)

In [11]:
df.nmdim

2

In [12]:
df.size

10

In [13]:
df.columns

Index(['Name', 'Marks'], dtype='object')

In [14]:
df.dtypes

Name     object
Marks     int64
dtype: object

In [ ]:
# check data types of each column
# object - catagorical
# int64 - numerical

In [15]:
# access indivdual column
df["Name"]

0        Tanmay
1    Tannishtha
2       Harshit
3        Jayvee
4       Drishti
Name: Name, dtype: object

In [16]:
# access specific row
df.loc[0]

Name     Tanmay
Marks        95
Name: 0, dtype: object

In [17]:
df.loc[3]

Name     Jayvee
Marks        85
Name: 3, dtype: object

In [22]:
# add a new column
''' if marks 80-90 then first class
if marks >=90 - distinction
if marks >=80 then second class '''

df["Grade"] = ["first class", "distinction" , "second class", "second class" , "first class"]
df

         Name  Marks         Grade
0      Tanmay     95   first class
1  Tannishtha    100   distinction
2     Harshit     93  second class
3      Jayvee     85  second class
4     Drishti     84   first class

In [26]:
# delete aa column
df.drop("Grade", axis= 1 , inplace = True)
df

         Name  Marks
0      Tanmay     95
1  Tannishtha    100
2     Harshit     93
3      Jayvee     85
4     Drishti     84

In [27]:
# perform basic statistical analysis
mean1 = df["Marks"].mean()
mean1

np.float64(91.4)

In [28]:
mode1 = df["Marks"].mode()
mode1

0     84
1     85
2     93
3     95
4    100
Name: Marks, dtype: int64

In [35]:
# Aggregate Functions in Data Frames

min_value = df["Marks"].min()
max_value = df["Marks"].max()
sum_value = df["Marks"].sum()
print("Minimum Value of Marks: ", min_value)
print("Maximum Value of Marks: ", max_value)
print("Sum of Marks: ", sum_value)

Minimum Value of Marks:  84
Maximum Value of Marks:  100
Sum of Marks:  457

In [37]:
# Apply conditions (Filtering)
# Display Students who scored more than 90

df[df["Marks"] > 90]

         Name  Marks
0      Tanmay     95
1  Tannishtha    100
2     Harshit     93

In [39]:
import pandas as pd
import numpy as np
df1=pd.DataFrame({'C1': [11,21, np.nan], 'C2': [15, np.nan, np.nan], 'C3': [10,20,30]})
df1

     C1    C2  C3
0  11.0  15.0  10
1  21.0   NaN  20
2   NaN   NaN  30

In [40]:
df1.isna () # boolean algebra

      C1     C2     C3
0  False  False  False
1  False   True  False
2   True   True  False

In [41]:
df1.notna() # Boolean function indicating non-missing values

      C1     C2    C3
0   True   True  True
1   True  False  True
2  False  False  True

In [43]:
df1.isna().sum() #columnwise NaN values

C1    1
C2    2
C3    0
dtype: int64

In [44]:
df1.dropna () # NaN rows are dropped

     C1    C2  C3
0  11.0  15.0  10