# Experiment 10
###Name: Tannishtha Gupta
####PRN: 25070123049
###Class: Entc A3
###Title: create dataset and load dataset

In [ ]:
import pandas as pd
data = {
    "roll_no" : [1,2,3,4,5],
    "Gender": ["female", "male", "female", "male", "female"],
    "Department": ["entc", "cse", "mech", "civil", "aiml"],
    "Cgpa" : [5.4, 3.6, 7.8, 9.0, 10.0]
}
df = pd.DataFrame(data)
df.to_csv("dataset.csv", index=False)
df

   roll_no  Gender Department  Cgpa
0        1  female       entc   5.4
1        2    male        cse   3.6
2        3  female       mech   7.8
3        4    male      civil   9.0
4        5  female       aiml  10.0

In [ ]:
df.shape

(5, 4)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   roll_no     5 non-null      int64
 1   Gender      5 non-null      object
 2   Department  5 non-null      object
 3   Cgpa        5 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 292.0+ bytes

In [ ]:
# access information of column dapartment
print(df['Department'])

0     entc
1      cse
2     mech
3    civil
4     aiml
Name: Department, dtype: object

In [ ]:
# access information of PRN 103
df[df['roll_no'] == 5]

   roll_no  Gender Department  Cgpa
4        5  female       aiml  10.0

In [ ]:
# find out data type of each column
df.dtypes

roll_no         int64
Gender         object
Department     object
Cgpa          float64
dtype: object

In [ ]:
# perform mean, median and mode

print('Mean of CGPA:', df['Cgpa'].mean())
print('Median of CGPA:', df['Cgpa'].median())
print('Mode of CGPA:', df['Cgpa'].mode()[0])

Mean of CGPA: 7.159999999999999
Median of CGPA: 7.8
Mode of CGPA: 3.6

In [ ]:
# Insert a new column grade
df["Grade"] = ["First Class", "Distinction", "First Class", "Second Class", "Second Class"]

df

   roll_no  Gender Department  Cgpa         Grade
0        1  female       entc   5.4   First Class
1        2    male        cse   3.6   Distinction
2        3  female       mech   7.8   First Class
3        4    male      civil   9.0  Second Class
4        5  female       aiml  10.0  Second Class

In [ ]:
# delete gender column
df = df.drop(columns=['Gender'])
display(df)

   roll_no Department  Cgpa         Grade
0        1       entc   5.4   First Class
1        2        cse   3.6   Distinction
2        3       mech   7.8   First Class
3        4      civil   9.0  Second Class
4        5       aiml  10.0  Second Class

In [ ]:
# cgpa of topper
df[df['Cgpa'] == df['Cgpa'].max()]['Cgpa']

4    10.0
Name: Cgpa, dtype: float64

In [14]:
# cgpa of 5 (roll_no 5 is at index 4)
df['Cgpa'].iloc[4]

np.float64(10.0)

In [4]:
import pandas as pd
import numpy as np
cars_df = pd.read_csv('/content/Cars93.csv')
cars_df

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,NaN,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0
...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,19.7,17,NaN,109,7,34.0,NaN
89,Volkswagen,Passat,Compact,20.0,21,NaN,134,5,31.5,14.0
90,Volkswagen,Corrado,Sporty,23.3,18,NaN,178,4,26.0,15.0
91,Volvo,240,Compact,22.7,21,Driver only,114,5,29.5,14.0
92,Volvo,850,Midsize,26.7,20,Driver & Passenger,168,5,30.0,15.0

cars_df.size

In [6]:
cars_df.size

930

In [7]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Manufacturer    93 non-null     object
 1   Model           93 non-null     object
 2   Type            93 non-null     object
 3   Price           93 non-null     float64
 4   MPG.city        93 non-null     int64
 5   AirBags         59 non-null     object
 6   Horsepower      93 non-null     int64
 7   Passengers      93 non-null     int64
 8   Rear.seat.room  91 non-null     float64
 9   Luggage.room    82 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 7.4+ KB

In [8]:
cars_df.shape

(93, 10)

In [9]:
cars_df.head()

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,NaN,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0

In [10]:
cars_df.tail()

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
88,Volkswagen,Eurovan,Van,19.7,17,NaN,109,7,34.0,NaN
89,Volkswagen,Passat,Compact,20.0,21,NaN,134,5,31.5,14.0
90,Volkswagen,Corrado,Sporty,23.3,18,NaN,178,4,26.0,15.0
91,Volvo,240,Compact,22.7,21,Driver only,114,5,29.5,14.0
92,Volvo,850,Midsize,26.7,20,Driver & Passenger,168,5,30.0,15.0

In [11]:
cars_df.describe()

,Price,MPG.city,Horsepower,Passengers,Rear.seat.room,Luggage.room
count,93.000000,93.000000,93.000000,93.000000,91.000000,82.000000
mean,19.509677,22.365591,143.827957,5.086022,27.829670,13.890244
std,9.659430,5.619812,52.374410,1.038979,2.989072,2.997967
min,7.400000,15.000000,55.000000,2.000000,19.000000,6.000000
25%,12.200000,18.000000,103.000000,4.000000,26.000000,12.000000
50%,17.700000,21.000000,140.000000,5.000000,27.500000,14.000000
75%,23.300000,25.000000,170.000000,6.000000,30.000000,15.000000
max,61.900000,46.000000,300.000000,8.000000,36.000000,22.000000