# Experiment 7
### Name: Tannishtha Gupta
### PRN: 25070123049
### Class: ENTC A3

In [ ]:
#while loop (when the number of iterations are unknown)
i = 0
while i < 6:
  print(i)
  i = i+1

0
1
2
3
4
5

In [ ]:
'''Problem statement 1: take input from the user for how many times they want to print'''
times = int(input("how many times do you want to print?: "))
i = 1
while i <= times:
  print("eh")
  i = i+1

how many times do you want to print?: 6
eh
eh
eh
eh
eh
eh

In [ ]:
''' Problem statement 2:to find the factorial of the entered number by the user'''
n = int(input("Enter the number: "))

if n < 0:
    print("The factorial of the number does not exist")
elif n == 0 or n == 1:
    print("Factorial is 1")
else:
    fact = 1
    i = 1
    while i <= n:
        fact = fact * i
        i = i + 1
    print("Factorial is", fact)

Enter the number: 7
Factorial is 5040

In [ ]:
'''Problem statement 3: fibonacci series'''
n = int(input("Enter number of terms: "))

a = 0
b = 1
i = 1

while i <= n:
    print(a, end=" ")
    c = a + b
    a = b
    b = c
    i = i + 1

Enter number of terms: 4
0 1 1 2

In [ ]:
''' Problem statement 4: reverse a number'''
num = int(input("Enter a number that you want to reverse: "))
rev=0

while num>0:
  digit = num % 10
  rev = rev * 10 + digit
  num//= 10

print("Reversed number=", rev)

Enter a number that you want to reverse: 4
Reversed number= 4

In [ ]:
'''Problem statement 5: check palindrome number/string'''
num = input("Enter the number or letter: ")
rev = num[::-1]
if num== rev:
  print("It is a palindrome")
else:
  print("It is not a palindrome")

Enter the number or letter: madam
It is a palindrome

In [ ]:
''' Problem Statement 6: count digits in a number '''
num = int(input("enter a number:"))
count = 0
while num>0:
  count += 1
  num //= 10
print("number of digits in the number are: ", count)

enter a number:0987654322345898765
number of digits in the number are:  18

# The break statement
#### with the break statement we can stop the loop even if the while condition is true

In [ ]:
# exit the loop when i= 3
i = 1
while i<10:
  print(i)
  if i==3:
    break
  i +=1

1
2
3

In [ ]:
# same thing but with taking input from the user
num = int(input("Enter the number: "))
i = 1

while i < 10:
    print(i)
    if i == num:
        break
    i = i + 1

Enter the number: 2
1
2

In [ ]:
''' Problem statement 1: search an element in the list '''
list = ("1000", "1001", "1002", "1003", "1004", "1005", "1006")
num = input("Enter the element you want to search: ")
i = 0
while i < len(list):
  if list [i] == num:
    print("Element found in the index")
    break
  i = i+1
else:
    print("Element not found")

Enter the element you want to search: 1002
Element found in the index

Continue Statements

In [ ]:
# print numbers from 1 to 10 (skip 5)
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
i = 1
while i <=10:
  if i == 5:
     i += 1
  continue
print(i)
i += 1

In [ ]:
# print only odd numbers
i = 1
while i <= 10:
    if i % 2 == 0:
        i += 1
        continue
    print(i)
    i += 1

1
3
5
7
9

For Loops
### a for loop is used to

In [ ]:
# syntax of for loop

Range function

In [ ]:
# print 1 to 6
for i in range(1,7): # use (1,7, end+'') to print the output in one line
  print(i)

1
2
3
4
5
6

In [ ]:
# print even numbers form 1 to 10 ( without using modular tool)
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
# Print even numbers from 1 to 10 using range function

for i in range (2,11,2):
  print(i, end=" ")

2 4 6 8 10

In [ ]:
# Sum of first N numbers

n = int(input("Enter No: "))
total = 0

for i in range (1, n+1):
  total += i

print ("Sum =", total)

Enter No: 4
Sum = 10

In [ ]:
# Nested for loop

for i in range(1, 4):
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
# 3x3 matrix display
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]

for i in range(3):
  for j in range(3):
    print(A[i][j], end=" ")
print()

1 2 3 4 5 6 7 8 9

In [ ]:
# Multiplication of two 3x3 Matrices

A = [ [1,2,3] , [4,5,6] , [7,8,9]]
B = [ [9,8,7] , [6,5,4] , [3,2,1]]

result = [ [0,0,0] , [0,0,0] , [0,0,0]]

for i in range(3):
  for j in range(3):
    for k in range(3):
      result[i][j] += A[i][k] * B[k][j]

print("Product of matrices is: ")
for row in result:
    print(row)
# Taking input from user for multiplication of two 3x3 matrices.

print("Enter elements for the first 3x3 matrix (A):")
A = []
for i in range(3):
  row = []
  for j in range(3):
    element = int(input(f"Enter element A[{i}][{j}]: "))
    row.append(element)
  A.append(row)

result = [ [0,0,0] , [0,0,0] , [0,0,0]]

for i in range(3):
  for j in range(3):
    for k in range(3):
      result[i][j] += A[i][k] * B[k][j]

print("\nProduct of matrices is: ")
for row in result:
    print(row)

Product of matrices is:
[30, 24, 18]
[84, 69, 54]
[138, 114, 90]
Enter elements for the first 3x3 matrix (A):
Enter element A[0][0]: 1
Enter element A[0][1]: 2
Enter element A[0][2]: 3
Enter element A[1][0]: 4
Enter element A[1][1]: 5
Enter element A[1][2]: 6
Enter element A[2][0]: 7
Enter element A[2][1]: 8
Enter element A[2][2]: 9

Product of matrices is:
[30, 24, 18]
[84, 69, 54]
[138, 114, 90]

In [ ]:
# Taking input from user for multiplication of two 3x3 matrices.

print("Enter elements for the first 3x3 matrix (A):")
A = []
for i in range(3):
  row = []
  for j in range(3):
    element = int(input(f"Enter element A[{i}][{j}]: "))
    row.append(element)
  A.append(row)

result = [ [0,0,0] , [0,0,0] , [0,0,0]]

for i in range(3):
  for j in range(3):
    for k in range(3):
      result[i][j] += A[i][k] * B[k][j]

print("\nProduct of matrices is: ")
for row in result:
    print(row)

Enter elements for the first 3x3 matrix (A):
Enter element A[0][0]: 1
Enter element A[0][1]: 2
Enter element A[0][2]: 4
Enter element A[1][0]: 6
Enter element A[1][1]: 8
Enter element A[1][2]: 10
Enter element A[2][0]: 12
Enter element A[2][1]: 14
Enter element A[2][2]: 16

Product of matrices is:
[33, 26, 19]
[132, 108, 84]
[240, 198, 156]

In [ ]:
#
d1 = 1
d2 = 2
d3 = 3
d = [d1, d2, d3]
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if (d[i] != d[j] and d[j] != d[k] and d[k] != d[i]):
        print(d[i] , d[j], d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
 # Armstrong number (153 370 371 407 123) [1^3 + 5^3 + 3^3 = 153]   '''1^3 = 1**3'''
num_str = input("enter the number: ")

if len(num_str) == 3:
    num = int(num_str)
    total = 0
    for digit_char in num_str:
        total += int(digit_char) ** 3   # cube each digit

    if total == num:
        print("It is an Armstrong number")
    else:
        print("It is NOT an Armstrong number")
else:
    print("Please enter a 3-digit number")

enter the number: 153
It is an Armstrong number

In [ ]:
# print all prime numbers in range
for num in range(2, 50):
  for i in range(2, num):
    if num % i == 0:
      break
  else:
    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
# print an inverted pyramid
n = 5
for i in range(n): # 0,1, 2, 3 ,4
 print(i* ' ' ,( n-i) * '* ')

 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:
# print a normal pyramid
n = 5
for i in range(n):
   print((n - i - 1) * ' ' + (i + 1) * '* ')

    *
   * *
  * * *
 * * * *
* * * * *