#**Experiment 5**
## Name: Tannishtha Gupta
## PRN: 25070123049
## Batch & class: Entc A3
### Title: To study sets and dictionaries in python

In [ ]:
# creation of set
mytodolist = {"eat", "sleep", "exercise"}
print(mytodolist)

{'exercise', 'eat', 'sleep'}

In [ ]:
# unordered
''' set items are unordered  '''

In [ ]:
# duplicstes not allowed
mytodolist = {"eat", "sleep", "exercise", "sleep"}
print(mytodolist)

{'exercise', 'eat', 'sleep'}

In [ ]:
# the values True and 1 are considered the same value in sets, and are treated as duplicates:
mytodolist = {"eat", "sleep", "exercise", True, 1}
print(mytodolist)

{True, 'exercise', 'eat', 'sleep'}

In [ ]:
# a set with strings, integers and boolean values:
mytodolist = {"eat", "sleep", True, 40, "exercise"}
mytodolist
print(mytodolist)

{True, 'eat', 'sleep', 40, 'exercise'}

In [ ]:
# to check membership
print("eat" in mytodolist)
print("study" in mytodolist)

True
False

In [ ]:
# once a set is created, you cannot replace its items but you can add new items.
mytodolist.add("study")
print(mytodolist)

{True, 'eat', 'sleep', 40, 'exercise', 'study'}

In [ ]:
#remove item
mytodolist.remove("sleep")
print(mytodolist)

{True, 'eat', 40, 'exercise', 'study'}

In [ ]:
# set operations
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print("union:", A|B)
print("intersection:", A&B)
print("difference:", B-A, A-B)
print("symmetric difference:", A^B)

union: {1, 2, 3, 4, 5, 6, 7, 8}
intersection: {4, 5}
difference: {8, 6, 7} {1, 2, 3}
symmetric difference: {1, 2, 3, 6, 7, 8}

In [ ]:
## Python frozenset
x = frozenset([1, 2, 3, 4, 5])
print(x)
print(type(x))

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

In [ ]:
# adding or removing of elements ar not allowed in frozenset

In [ ]:
''' Problem statement 1: Union Event Participants
A college event has a list of students who registered multiple times by mistake.
write a program using set to store participant names and display only unique participants'''

registered_participants = {"Alice", "Bob", "Charlie", "David", "Alice", "Eve", "Bob", "rita"}
unique_participants = set(registered_participants)
print("Unique Participants:", registered_participants)

Unique Participants: {'rita', 'Eve', 'Bob', 'Alice', 'Charlie', 'David'}

In [ ]:
''' Problem statement 2: Three student choose elective subjects.
find the common subjects chosen by all students using set operations.
concept used: set intersection(&) '''

alice = {"math", "science", "history"}
bob = {"science", "computer science", "history"}
charlie = {"math", "computer science", "history", "science"}

common_subjects = alice & bob & charlie
print(common_subjects)
print("Common Subjects:", common_subjects)

{'history', 'science'}
Common Subjects: {'history', 'science'}

In [ ]:
''' Problem Statement 3: one set contains students in the cricket club, another in the football club.
find the statements who are:
1. in both clubs
2, in only one club
concept used: intersection, symmetric difference '''
cricketclublist = {"Alice", "Bob", "Charlie", "David"}
footballclublist = {"Bob", "Eve", "Frank", "David"}

print("students in both the clubs:" , cricketclublist & footballclublist)
print("students in only one club:", cricketclublist ^ footballclublist)

students in both the clubs: {'David', 'Bob'}
students in only one club: {'Eve', 'Frank', 'Charlie', 'Alice'}

In [ ]:
''' Problem Statement 4: Absent Students
Given a set of all students and a set of present students, find the absent students.
Concepts Used: Set Difference (-)'''

all_students = {"Tanmay", "Drishti", "Jayvee", "Jahnvi", "Tannishtha", "Samiksha", "Rucha"}
present_students = {"Tanmay", "Drishti", "Samiksha", "Jahnvi"}
absent_students = all_students - present_students

print("All Students:", all_students)
print("Present Students:", present_students)
print("Absent Students:", absent_students)

All Students: {'Tannishtha', 'Rucha', 'Samiksha', 'Tanmay', 'Jayvee', 'Drishti', 'Jahnvi'}
Present Students: {'Tanmay', 'Samiksha', 'Drishti', 'Jahnvi'}
Absent Students: {'Rucha', 'Jayvee', 'Tannishtha'}

In [ ]:
'''Problem Statement 5: Remove Invalid Entries
A set contains valid course codes.
Remove a discontinued course code from the set.
Concept Used: remove () / discard () '''

valid_course_codes = {"T5077", "T6077", "T7077", "T8077", "T9077"}
discontinued_course = {"T6077", "T8077"}

print("Original set of course codes:", valid_course_codes)

# Using remove()
    # valid_course_codes.remove(discontinued_course)
    # print("Set after using remove():", valid_course_codes)

# Using discard()
valid_course_codes.discard(discontinued_course)
print("Set after using discard():", valid_course_codes)

# Demonstrate the difference: remove() raises an error if item not found, discard() does not
print("\nTrying to remove a non-existent course with discard():")
valid_course_codes.discard("CS999") # This will not raise an error
print("Set after trying to discard non-existent course:", valid_course_codes)

# Uncomment the following line to see remove() raise an error for a non-existent item
# print("\nTrying to remove a non-existent course with remove():")
# valid_course_codes.remove("CS999")

Original set of course codes: {'T5077', 'T9077', 'T7077', 'T6077', 'T8077'}
Set after using discard(): {'T5077', 'T9077', 'T7077', 'T6077', 'T8077'}

Trying to remove a non-existent course with discard():
Set after trying to discard non-existent course: {'T5077', 'T9077', 'T7077', 'T6077', 'T8077'}

#Python Dictionaries
### Dictionaries are used to store data values in key value pairs.
###A dictionary a collection in which it is ordered*, changeable and doesn't allow duplicates

In [ ]:
# creation of dictionary
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# dictionary takes latest value given for key. it will not allow duplicate
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964, # don't forget the comma
    "year": 2020
}
print(thisdict)
print("Length of the dictionay is:", len(thisdict))
print("Data type of the dictionary is:", type(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
Length of the dictionay is: 3
Data type of the dictionary is: <class 'dict'>

In [ ]:
from IPython.core.application import crashhandler
# changing values in dictionary
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964.
}
thisdict["colour"] = "red"
x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964.0, 'red'])

In [ ]:
student = {
    "roll": "25070123049",
    "name": "Tannishtha",
    "branch": "entc"
}
print("Name:", student["name"])

Name: Tannishtha

In [ ]:
# adding and updating elements
student["year"] = "second"
student["name"] = "tannishtha"
print(student)

{'roll': '25070123049', 'name': 'tannishtha', 'branch': 'entc', 'year': 'second'}

In [ ]:
# removing elements
student.pop("branch")
print("after removal:", student)

after removal: {'roll': '25070123049', 'name': 'tannishtha', 'year': 'second'}

In [1]:
''' Problem statement 1: A dictionary stores product names and their price. write a python to update the price of a given product '''

product_prices = {
"Laptop": 1200,
"Mouse": 25,
"Keyboard": 75,
"Monitor": 300
}

print("Original product prices:", product_prices)

product_prices["Laptop"] = "1500"

print("Updated product prices:", product_prices)

Original product prices: {'Laptop': 1200, 'Mouse': 25, 'Keyboard': 75, 'Monitor': 300}
Updated product prices: {'Laptop': '1500', 'Mouse': 25, 'Keyboard': 75, 'Monitor': 300}

In [2]:
''' Problem statement 2: A dictionary stores students' marks. write a python codeto search for a student's marks using the name. if the
student is not found, display a suitable messege '''
student_marks = {
    "Tanmay": 85,
    "Drishti": 92,
    "Jayvee": 78,
    "Jahnvi": 95,
    "Tannishtha": 88
}

print("Student Marks:", student_marks)

student_name_to_search = input("Enter the name of the student to search for: ")

if student_name_to_search in student_marks:
    marks = student_marks[student_name_to_search]
    print(f"{student_name_to_search}'s marks: {marks}")
else:
    print(f"Student '{student_name_to_search}' not found in the records.")

Student Marks: {'Tanmay': 85, 'Drishti': 92, 'Jayvee': 78, 'Jahnvi': 95, 'Tannishtha': 88}
Enter the name of the student to search for: Tannishtha
Tannishtha's marks: 88

In [5]:
''' Problem Statement 3: A dictionary stores usernames and passwords. write a python program to validate user login.'''
users = {"user1": "pass1", "user2" : "pass2", "user3":"pass3"}
user_name = input("Enter your username: ")
password = input("Enter your password: ")
if user_name in users and users[user_name] == password:
    print("Login successful!")
else:
    print("Invalid username or password.")

Enter your username: user1
Enter your password: pass1
Login successful!

In [6]:
''' Problem Statement 4: A dictionary stores student names and marks. write a python program to find the student with the highest marks.'''
marks= {"Tanmay" : 100, "Tannishtha" : 98, "Rucha" : 90, "Samiksha" : 95}
highest = max(marks, key=marks.get)
print("Student with max marks:", highest, "and Student's Marks: " , marks[highest] )

Student with max marks: Tanmay and Student's Marks:  100